@import '../../App.scss';



/* Project page */
.project-container {
    background-color: $secondary-color;

    @include box;
    padding: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 80vw;
    height: 50vh;
    transform: translate(-50%, -50%);


    .project-header {
        background-color: $tertiary-color;
        @include box;
        padding: .5vw;

    }

    .project-section {
        display: flex;
        flex-direction: column;
        width: 30%;


    }

    .project-flex {
        background-color: $tertiary-color;
        padding: .5vw;
        border: .1vw solid $secondary-color;
        border-radius: .2vw;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        place-items: start;

    }

    .list-group {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }

    .add-flex {
        display: flex;
        justify-content: space-between;
        padding: .5vw;
        background-color: $tertiary-color;
        @include box;
    }

    .add-project-btn {
        display: flex;
        justify-content: center;
        border: .2vw dotted $highlight-blue;
        border-radius: .1vw;
        padding: .5vw;
        
    }

  

    .project-link {
        justify-self: end;
    }

}

/* Project Creation Modal */
.project-modal {

    
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30vw;
        height: 60vh;
        transform: translate(-50%,-50%);
        @include box;
        background-color: $secondary-color;
        padding: 1vw;
        display: flex;
        flex-direction: column;

        header {
            @include box;
            padding: .5vw;
            font-size: 1.5rem;
            background-color: $tertiary-color;
        }

        input  {
           
           color: white;
            background-color: $tertiary-color;
            padding: .2vw;
            border-radius: .1vw;
            border: 2px solid white;
        }

        textarea {
            color: white;
            width: 100%;
            padding: .2vw;
            background-color: $tertiary-color;
            border-radius: .1vw;
            border: 2px solid white;
            resize: none;
        }

        input:focus, textarea:focus {
            outline: none;
            border: 2px solid $highlight-blue; 
        }

        button {
            @include button;
            padding: .5vw;
           
        }

       
      
}

input, textarea {
-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  
}