
* {
  margin: 0 ;
  padding: 0;
}
.project-section {
  width: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

h4, h5 {
  margin: 0 !important;
}

.add-flex {
  gap: .5rem;
}

.projectModal-container {
  display: flex;
  flex-direction: column;
}
