* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.add-flex {
  gap: .5rem;
}

.projectModal-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 5vw;
  gap: 1vw;

}

.project-info {
  position: sticky;
  top: 5vw;
  height: 80vh;
  font-size: .5rem;
  border-right: 3px solid black ;
 
  padding: 1vw;
}

.project-info h1 {
  font-size: 4rem;
  margin-bottom: 2rem;

}

.project-description {
  font-size: 1rem;

  margin-bottom: 2rem;
}

.hours {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tasks-container {
  display: flex;
  flex-direction: column;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 5vh;
}

.task-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  
  justify-content: space-between;
  z-index: 2;
}

.task h2 {
  margin-left: 1vw;
}
.color {

  position: absolute;
  width: 100%;
  height: 100%;
}
button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  padding: 0;
}

.addTask-btn {
  
  width: 71vw;
}

.project-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 80vw;
  height: 50vh;
  transform: translate(-50%,-50%);

 
}

.project-section {
  width: 30%;
  overflow-x: scroll;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
 width: 70%;
}